<!DOCTYPE html>
<html layout:decorate="~{layout/private/base}">
<body>
<!-- Conteúdo específico da página de usuários aqui -->
<div layout:fragment="content">
    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">Buscar Usuários</div>
                </div>
                <div class="card-body">
                    <form id="form_usuario" action="/usuarios/store" method="post" th:object="${usuario}" class="row g-3 mt-0">
                        <div class="col-md-6 col-sm-12">
                            <label for="name" class="form-label">Nome</label>
                            <input type="text" required minlength="5" maxlength="255" id="name" th:field="*{nome}"
                                   name="name" class="form-control" placeholder="Nome" aria-label="Nome"/>
                            <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
                                 class="invalid-feedback"></div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" id="email" name="email" th:field="*{email}" required minlength="14"
                                   maxlength="14" class="form-control" placeholder="Email" aria-label="CPF"/>
                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-sm btn-secondary">Buscar</button>
                            <a th:href="@{/usuarios/create}" class="btn btn-sm btn-primary">Novo</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">Listagem dos usuários</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table text-nowrap table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Email</th>
                                <th scope="col">Cadastrado Em</th>
                                <th scope="col">Status</th>
                                <th scope="col">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="u : ${usuarios}">
                                <th scope="row" th:text="${u.id}"></th>
                                <th scope="row" th:text="${u.nome}"></th>
                                <th scope="row" th:text="${u.email}"></th>
                                <th scope="row" th:text="${u.createdAt}"></th>
                                <th scope="row">
                                    <span th:class="${u.ativo ? 'badge bg-success' : 'badge bg-danger' }"
                                          th:text="${u.ativo ? 'ATIVO' : 'INATIVO'}">
                                    </span>
                                </th>
                                <th scope="row">
                                    <a th:href="@{/usuarios/{id}/show(id=${u.id})}"
                                       class="btn btn-info btn-sm btn-wave waves-effect waves-light">Show</a>
                                    <a th:href="@{/usuarios/{id}/edit(id=${u.id})}"
                                       class="btn btn-warning btn-sm btn-wave waves-effect waves-light">Editar</a>

                                    <button class="btn btn-danger btn-sm btn-wave waves-effect waves-light"
                                            data-bs-toggle="modal" th:data-bs-target="'#modelDelete' + ${u.id}">Deletar
                                    </button>

                                    <!-- Modal Delete -->
                                    <div class="modal fade modal-dialog-centered" th:id="'modelDelete' + ${u.id}" tabindex="-1"
                                         aria-labelledby="modelDeleteLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modelDeleteLabel">Modal title</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal Delete -->

                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>