<!DOCTYPE html>
<html layout:decorate="~{layout/base}">
<body>
<!-- Conteúdo específico da página de usuários aqui -->
<div layout:fragment="content">
    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">Buscar Usuários</div>
                </div>
                <div class="card-body">
                    <form id="form_usuario" th:action="@{/diario-oficial/usuarios}" method="GET" th:object="${usuarioSearchDTO}" class="row g-3 mt-0">
                        <div class="col-md-1 col-sm-12">
                            <label for="id" class="form-label">ID</label>
                            <input type="number" id="id" name="id" th:field="*{id}" min="0"
                                   max="1000000" class="form-control" placeholder="ID" aria-label="ID"/>
                            <span th:if="${!utilValidators.integerIsNullOrZero(usuarioSearchDTO.id())}" class="badge bg-warning-transparent text-warning p-2 px-3">Filtro aplicado</span>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label for="nome" class="form-label">Nome</label>
                            <input type="text" id="nome" name="nome" th:field="*{nome}" minlength="5"
                                   maxlength="50" class="form-control" placeholder="Nome" aria-label="Nome"/>
                            <span th:if="${!utilValidators.stringIsNullOrEmpty(usuarioSearchDTO.nome())}" class="badge bg-warning-transparent text-warning p-2 px-3">Filtro aplicado</span>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" id="email" name="email" th:field="*{email}" minlength="5"
                                   maxlength="50" class="form-control" placeholder="Email" aria-label="Email"/>
                            <span th:if="${!utilValidators.stringIsNullOrEmpty(usuarioSearchDTO.email())}" class="badge bg-warning-transparent text-warning p-2 px-3">Filtro aplicado</span>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <label for="status" class="form-label">Status</label>
                            <select id="status" th:field="*{status}" name="status" class="form-control form-select">
                                <option value="" selected>Selecione</option>
                                <option th:each="st : ${status}"
                                        th:value="${st.name()}"
                                        th:text="${st.name}">
                                </option>
                            </select>
                            <span th:if="${!utilValidators.stringIsNullOrEmpty(usuarioSearchDTO.status())}" class="badge bg-warning-transparent text-warning p-2 px-3">Filtro aplicado</span>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label for="role" class="form-label">Nível Acesso</label>
                            <select id="role" th:field="*{role}" name="role" class="form-control form-select select2">
                                <option value="" selected>Selecione</option>
                                <option th:each="role : ${roles}"
                                        th:value="${role.id}"
                                        th:text="${role.name}">
                                </option>
                            </select>
                            <span th:if="${!utilValidators.stringIsNullOrEmpty(usuarioSearchDTO.role())}" class="badge bg-warning-transparent text-warning p-2 px-3">Filtro aplicado</span>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-sm btn-secondary">Buscar</button>
                            <a th:href="@{/diario-oficial/usuarios/create}" class="btn btn-sm btn-primary">Novo</a>
                            <a th:href="@{/diario-oficial/usuarios}" class="btn btn-sm btn-primary">Limpar Filtros</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">Listagem dos usuários</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table text-nowrap table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Cadastrado Em</th>
                                <th scope="col">Status</th>
                                <th scope="col">Role</th>
                                <th scope="col">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="u : ${usuarios}">
                                <th scope="row" th:text="${u.id}"></th>
                                <th scope="row" th:text="${u.cliente != null ? u.cliente.nome : '-'}"></th>
                                <th scope="row" th:text="${u.username}"></th>
                                <th scope="row" th:text="${u.email}"></th>
                                <th scope="row" th:text="${u.getCreatedAtFormatado()}"></th>
                                <th scope="row">
                                    <span th:class="${u.ativo ? 'badge bg-success' : 'badge bg-danger' }"
                                          th:text="${u.ativo ? 'ATIVO' : 'INATIVO'}">
                                    </span>
                                </th>
                                <th scope="row" th:text="${u.getRole().getName()}"></th>
                                <th scope="row">
                                    <a th:href="@{/diario-oficial/usuarios/{id}/show(id=${u.id})}"
                                       class="btn btn-info btn-sm btn-wave waves-effect waves-light">
                                        <i class="fe fe-eye" title="Visualizar usuário"></i>
                                    </a>

                                    <a th:href="@{/diario-oficial/usuarios/{id}/edit(id=${u.id})}" title="Editar usuário"
                                       class="btn btn-warning btn-sm btn-wave waves-effect waves-light">
                                        <icon class="fe fe-edit"></icon>
                                    </a>

                                    <button th:if="${u.isAtivo()}" title="Inativar usuário" th:data-bs-toggle="'modal'" th:data-bs-target="'#modalInativar' + ${u.id}"
                                            class="btn btn-danger btn-sm btn-wave waves-effect waves-light">
                                        <icon class="fe fe-trash"></icon>
                                    </button>

                                    <button th:if="${u.isInativo()}" title="Ativar usuário" th:data-bs-toggle="'modal'" th:data-bs-target="'#modalAtivar' + ${u.id}"
                                            class="btn btn-success btn-sm btn-wave waves-effect waves-light">
                                        <icon class="fe fe-check-circle"></icon>
                                    </button>
                                </th>

                                <!--  MODAL INATIVAR USUARIO-->
                                <div th:if="${u.isAtivo()}" class="modal fade" th:id="'modalInativar' + ${u.id}" tabindex="-1"
                                     aria-labelledby="'modalInativarLabel' + ${u.id}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="modal-title" th:id="'modalInativarLabel' + ${u.id}">Atenção</h6>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                               <p th:text="'Inativar o usuario ' + ${u.username} + ' ?'"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <form id="form_user" th:action="@{/diario-oficial/usuarios/{id}/inativar(id=${u.id})}" method="post" class="row g-3 mt-0">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Inativar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  MODAL INATIVAR USUARIO-->

                                <!--  MODAL ATIVAR USUARIO-->
                                <div th:if="${u.isInativo()}" class="modal fade" th:id="'modalAtivar' + ${u.id}" tabindex="-1"
                                     aria-labelledby="'modalAtivarLabel' + ${u.id}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="modal-title" th:id="'modalAtivarLabel' + ${u.id}">Atenção</h6>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Ativar o usuario
                                                <p th:text="${u.username}"></p> ?
                                            </div>
                                            <div class="modal-footer">
                                                <form id="form_user_status" th:action="@{/diario-oficial/usuarios/{id}/ativar(id=${u.id})}" method="POST" class="row g-3 mt-0">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Ativar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  MODAL ATIVAR USUARIO-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>