<!DOCTYPE html>
<html layout:decorate="~{layout/base}">
<body>
<!-- Conteúdo específico da página de usuários aqui -->
<div layout:fragment="content">
    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">
                        Dados de <span th:text="${usuario.username}"></span>
                    </div>
                </div>
                <div class="card-body">
                    <form id="form_user" method="post" th:object="${usuario}" class="row g-3 mt-0">
                        <div class="col-md-4 col-sm-12">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" disabled required id="username" th:field="*{username}" name="username"
                                    class="form-control" placeholder="Username" aria-label="Username"/>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" id="email" disabled name="email" th:field="*{email}" class="form-control"
                                   placeholder="Email" aria-label="CPF"/>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <label for="role" class="form-label">Password</label>
                            <input type="text" disabled name="role" th:field="*{role.name}" required
                                   class="form-control"  id="role" autocomplete="off"/>
                        </div>
                    </form>
                </div>
            </div>
            <a th:href="@{/diario-oficial/usuarios}" class="btn btn-sm btn-primary">
                <i class="fas fa-long-arrow-alt-left"></i>
                Voltar
            </a>
        </div>
    </div>
</div>
</body>
</html>