<!DOCTYPE html>
<html layout:decorate="~{layout/base}">
<body>
<!-- Conteúdo específico da página de clientes aqui -->
<div layout:fragment="content">
    <div class="row">
        <div class="col-xl-12">
            <form id="form_user" method="post" th:object="${cliente}" class="row g-3 mt-0">
                <div class="card custom-card">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            <p th:text="'Cliente' + ${cliente.nome} + ' ?'"></p></div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" disabled id="username" name="username" th:field="*{usuario.username}" required minlength="10"
                                       maxlength="255" class="form-control" placeholder="Username" aria-label="Username"/>
                            </div>
                            <div class="col">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" disabled id="email" name="email" th:field="*{usuario.email}" required minlength="10"
                                       maxlength="255" class="form-control" placeholder="Email" aria-label="CPF"/>
                            </div>
                            <div class="col">
                                <label for="role" class="form-label">Nível Acesso</label>
                                <input type="text" id="role" disabled name="role" th:field="*{usuario.role.name}" required minlength="10"
                                       maxlength="255" class="form-control"/>
                            </div>
                            <div class="col">
                                <label for="password" class="form-label">Orgão Gov</label>
                                <input type="text" required disabled class="form-control" th:field="*{orgaoGovernamental.nome}"
                                       id="password"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <a th:href="@{/diario-oficial/clientes}" class="btn btn-sm btn-primary">
                        <i class="fas fa-long-arrow-alt-left"></i>
                        Voltar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
